*{
	background-color: aquamarine; /* Aquamarine color --> #7FFFD4 */
}

header{
	text-align: center;
	border-bottom: 3px solid black;
	color: red;
}

header p {
	font: 150% "Consolas", sans-serif;
	font-family: bold;
}

header span {
	font: 250% "Consolas", sans-serif;
}

nav{
	font-size: 110%;
	float: left;
	position: absolute;
}

nav ul {
	padding: 0;
}

nav li {
	margin-bottom: 20px;
	list-style: none;
	text-transform: uppercase;
}

article{
	margin-left: 200px;
}

.subtitle{
	color: red;
}

table {
	text-align: left;
}

table th:nth-child(1){
	width: 20%;
}

table th:nth-child(2){
	width: 10%;
}

table th:nth-child(3){
	width: 70%;
}

div#formulaire{
	margin-top: 50px;
}

form > table {
	text-align: center;
}

footer{
	text-align: center;
	border-top : 3px solid black;
	color: red;
}

footer p{
	font: 150% "Consolas", sans-serif;
	font-family: bold;
}

footer span{
	font: 200% "Consolas", sans-serif;
}